html {
	position: relative;
	min-height: 100%;
}

html,
body {
	height: 100%;
}

.container {
	position: relative;
	min-height: 100%;
  background-color: #f8f8f8;
  padding-bottom: 214px;
  width: 1200px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}



header {
	background-color: #69B7D4;
}

.logo {
	display: inline-block;
	background: #69B7D4 url(../img/logo.png) no-repeat;
	background-size: contain;
	width: 235px;
	height: 100px;
	margin-left: 50px;
}

.menu li {
  list-style-type: none;
	float: left;
	padding-right: 20px;
	position: relative;
	top: -88px;
	left: 580px;
}
.menu li a {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.menu li a:hover {
  color: red;
}

main {
	padding-bottom: 90px;
}
main h1 {
	display: inline-block;
	margin-left: 300px;
	text-align: center;
}
main h1 span {
	text-transform: uppercase;
	color: #B4B4B4;
	text-shadow: 0 0 1px #000;
}
main .btn {
	border: 1px solid #5491A7;
	border-radius: 5px;
	text-decoration: none;
	padding: 10px;
	text-transform: uppercase;
	margin-left: 100px;
	position: relative;
	bottom: 10px;
	background-color: #69B7D4;
	color: #000;
	font-size: 18px;
}
main a.btn:hover {
	border: 1px solid #f00;
	color: #fff;
}



/*for catalog*/
section .catalog-img {
	float: left;
	padding-right: 20px;
}

.notebooks-h1 {
	margin-left: -270px;
}
/*for catalog end*/

section .sect-product {
	width: 300px;
	height: 200px;
	float: left;
	padding: 40px;
}

section.description-product h2 {
  color: #191919;
  font-size: 20px;
  font-weight: 500;
  background-color: #c2c2c2;
}
section.description-product h3 {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  background-color: #eaeaea;
}

section.detail-product li {
  list-style-type: none;
  color: #484343;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.contacts input[type="text"],
.contacts input[type="email"] {
  width: 200px;
  height: 20px;
  margin: 5px 0;
  color: red;
  padding: 0 5px;
  text-transform: capitalize;
}
.contacts input[type="text"]:focus,
.contacts input[type="email"]:focus,
.contacts textarea:focus {
  background-color: yellow;
}

.contacts textarea {
  width: 200px;
  height: 50px;
  color: red;
  padding: 0 5px;
  text-transform: capitalize;
}

.contacts-h {
	position: relative;
	left: -480px;
}

.address {
	position: relative;
	top: -43px;
}

.contacts-form,
.address {
	float: left;
	width: 500px;
	margin: 0 auto;
	padding-left: 100px;
}

.google-map {
	width: 1000px;
	margin: 0 auto;
}

footer {
	height: 60px;
	line-height: 60px;
	width: 100%;
	text-align: center;
	background-color: #439ABB;
	position: absolute;
	left: 0;
	bottom: -30px;
	border-top: 1px solid #000;*/
}

footer span {
	font-size: 30px;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}